<!DOCTYPE=html>
<html>
    <head>
        <title>
            Flowers
        </title>
        <link rel="stylesheet" href="static/style-app.css" media="screen" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".gallery").click(function(){
                    var $flower = $(this).attr("id");
                    $(".show").fadeIn();
                    var $src = $(this).children("img").attr("src");
                    $(".img-show img").attr("src", $src);
                    $("#flower-input").val($flower);
                    $(".recent-sightings").empty();
                    $.ajax({
                        type: "POST",
                        url: "recent",
                        data:{flower: $flower},
                        dataType: 'json',
                        success: function(data)
                        {
                            if(data.success == true) {
                                console.log(data.sightings);
				$(".recent-sightings").append("<tr><th>Name</th><th>Location</th><th>Sighted</th></tr>");

                                data.sightings.forEach(function(item) {
                                    $name = item[0];
                                    $where = item[1];
                                    $d = item[2];
                                   $(".recent-sightings").append(
                                       "<tr><th>" + $name + "</th>" +  
                                       "<th>" + $where + "</th>" +
                                       "<th>" + $d + "</th></tr>"
                                   ); 
                                });

                            }
                        }
                    });

                });
                $("span, .overlay").click(function () {
                    $(".show").fadeOut();
                });
                $("#update-flower").submit(function(e) {
                    var form = $(this);
                    var url = form.attr("action");
                    $("#flower-update-submit").val("Please wait...");
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        dataType: 'json',
                        success: function(data)
                        {
                            if(data.success == true) {
                                $("#flower-update-submit").val("Successful!");
                            }
                            if(data.success == false) {
                                $("#flower-update-submit").val("Failed!");
                            }
                        }
                    });
                    e.preventDefault();

                });
                $("#insert-sighting-form").submit(function(e) {
                    var form = $(this);
                    var url = form.attr("action");
                    $("#insert-sighting-submit").val("Please wait...");
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        dataType: 'json',
                        success: function(data)
                        {
                            if(data.success == true) {
                                $("#insert-sighting-submit").val("Added!");
                            }
                            if(data.success == false) {
                                $("#insert-sighting-submit").val("Failed!");
                            }

                        }
                    });
                    e.preventDefault();

                });

            });
        </script>

    </head>
    <body>
        <div class="bar">
                <h1 style="position:absolute; top:4; left:50%; transform: translate(-50%,0);
 ">Flowers</h1>
                           <ul>
                    <li><a class="active" href="logout">Logout</a></li>
                    <li><a href="log">Log</a></li>
                </ul>
        </div>
        <section id="photos">
        {% for img, flower in hists %}
        <div id="{{flower}}" class="gallery">
            <img src="{{url_for('static', filename=img)}}" alt="{{flower}}" width="200px" style="float:left;">
            <div class="desc">{{flower}}</div>
        </div>
        {% endfor %}
        </div>

        <div class="show">
            <div class="overlay"></div>
            <div class="container">
            <span>X</span>
            <div class="img-show">
                <img src="">
             <div class="field-input">
                 <h3 class="in-form">Modify Flower</h3>
                <form action="flowers" id="update-flower" method="POST">
                    <input type="text" name="genus" placeholder="genus">
                    <input type="text" name="species" placeholder="species">
                    <input type="hidden" name="flower-input" id="flower-input" value="">
                    <input type="submit" class="ree ree-submit" id="flower-update-submit" value="Submit">
                </form>

            </div>
            </div>
	    <div class="recent-sightings-div">
                <h3 class="recent-h3" >Recent Sightings</h3>
                <table class="recent-sightings">
                </table>
                <form action="flowers" id="insert-sighting-form" method="POST">
                    <h3 class="in-form">Insert Sighting</h3>
                    <input type="text" name="person" placeholder="person">
                    <input type="text" name="location" placeholder="location">
                    <input type="text" name="sighted" placeholder="date sighted">
                    <input type="hidden" name="flower-input" id="flower-input" value="">
                    <input type="hidden" name="insert-sighting" value="">
                    <input type="submit" class="ree ree-submit" id="insert-sighting-submit" value="Submit">
                </form>

            </div>
            
            </div>
        </div>
	
    </body>
</html>
